<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="name" default="down" />
  <arg name="standalone" default="false" />

  <include file="$(find libcamera_ros_driver)/launch/camera.launch">

    <arg name="camera_name" value="$(arg name)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="config" value="$(dirname)/../camera_params/$(arg name).yaml" />

  </include>

  <include file="$(find mrs_sensor_info)/launch/sensor_info.launch">

    <arg name="name" value="camera_$(arg name)" />
    <arg name="type" value="camera" />
    <arg name="expected_rate" value="10" />
    <arg name="topic" value="/$(arg UAV_NAME)/camera_$(arg name)/image_raw" />

  </include>

</launch>
