<launch>

  <arg name="standalone" default="false" />

  <include file="$(dirname)/camera_down.launch">
    <arg name="standalone" value="$(arg standalone)" />
  </include>

  <include file="$(dirname)/camera_front.launch">
    <arg name="standalone" value="$(arg standalone)" />
  </include>

</launch>
